.cadastro-container{
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cadastro-title{
    color: #1e4e16;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.cadastro-form .form-group{
    margin-bottom: 1.5rem;
}

.cadastro-form label{
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 500;
}

.cadastro-form input,
.cadastro-form select,
.cadastro-form textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.cadastro-form input:focus,
.cadastro-form select:focus,
.cadastro-form textarea:focus {
    border-color: #1A4D2E; /* Verde escuro */
    outline: none;
}

.cep-search{
    display: flex;
    gap: 10px;
}

.cep-search button{
    background-color: #1e4e16;
    color: #f1f1f1;
    border: none;
    border-radius: 6px;
    padding: 0 1rem;
    transition: background-color 0.3s;
}

.cep-search button:hover{
    background-color: #4f6f52;
}



